<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h2>List of Accounts</h2>
    <h3 th:text="'Accounts count: ' + ${#lists.size(allAccounts)}">Accounts count</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Profile Id</th>
            <th>DateOfBirth</th>
            <th>Country</th>
            <th>About</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="account : ${allAccounts}">
                <td th:text="${{account.id}}"></td>
                <td th:text="${{account.name}}"></td>
                <td th:text="${{account.lastName}}"></td>
                <td th:text="${{account.profile.id}}"></td>
                <td th:text="${{account.profile.dateOfBirth}}"></td>
                <td th:text="${{account.profile.country}}"></td>
                <td th:text="${{account.profile.about}}"></td>
            </tr>
        </tbody>
    </table>

    <h2>Create account</h2>
    <form action="#" th:action="@{/accounts}" th:object="${newAccount}" method="post">
        <input type="text" th:field="*{name}" placeholder="Name"/>
        <input type="text" th:field="*{lastName}" placeholder="LastName"/>
        <input type="text" th:field="*{profile.dateOfBirth}" placeholder="DateOfBirth"/>
        <input type="text" th:field="*{profile.country}" placeholder="Country"/>
        <input type="text" th:field="*{profile.about}" placeholder="About"/>
        <button>Create Account</button>
    </form>
</div>
</body>
</html>